

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #97AABD;
    color: white;
}

h1{
    text-align: center;
    padding: 20px;
    
}

header{
    background-color: #314455;
    color: #C96567;
    font-size: 40px;
    font-weight: lighter;
    text-transform: uppercase;
    
}

#headmenu{
  display: flex;
  flex-direction: row;
  padding: 20px;
 
border-top: #9E5A63 solid 3px;

    
}
#headmenu a{
    color:#C96567;
    text-decoration: none;
    list-style-type: none;
    margin: 20px;
    align-items: center;
    margin: auto;
    
}

.p1{
    background-color: #644E5B;
    padding: 100px;
    font-size: 25px;
    font-weight: lighter;

}
.rmp1{
    background-color: #644E5B;
    padding: 100px;
    font-size: 25px;
    font-weight: lighter;
}

.rmp1 h2{
    font-weight:normal;
}
.rmp1 ul li{
    margin: 1% 0 0 5%;
  
  
}
.rmp1 a{
    text-decoration: none;
    color: white;
}
.rmp1 ul a li:hover,
a:hover
{
    
    opacity:0.6;
}

.zadnaslov{
    margin: 2%;
    text-align: center;
    font-weight: normal;
    font-size: 4vh;
    color: #9E5A63;
    text-transform: uppercase;
}
