html{
    background-color: #264653;
}
/*glavni div (plavi box)*/
#main{
    background-color: #2A9D8F;
    position: relative;
    width: 45vw;
    margin: 3em auto 0px auto;
    border-radius: 0.75em;
    box-shadow: 1em 0.5em  #E76F51;
}
/*Naslov ("To-do list")*/
h1{
    padding: 1em 0px 1em 0px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    color: #E9C46A;
    text-shadow: 3px 3px 1px #F4A261;
}
/*div u kojem su taskovi, dakle kutija ispod naslova*/
#task-box{
    border-top: 2px solid #E9C46A;
    padding-bottom: 0px;
}
/*ul u kojem su taskovi*/
#tasks{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
/*li u tasks*/
#tasks li{
    padding: 1em 0 1em 1em;
    border-bottom: 2px solid #E9C46A;
    color: #E9C46A;
    overflow: hidden;
    align-items: center;
    display: flex; /* da bi thrash stajao centriran stalno*/
    
    
}
/*div u kojem je checkbox za finish task*/
.taskDone{
    font-size: 2em;
    text-shadow: 1px 1px 1px #F4A261;
}
/*div u kojem je checkbox za finish task - hover*/
.taskDone:hover{
    cursor: pointer;
    font-size: 2em;
    text-shadow: 2px 2px 1px #F4A261;
}
/*div u kojem je task*/
.taskDiv{
    margin-left: 1em;
    font-weight: 700;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
/*div u kojem je trash*/
.deleteDiv{
    margin-left: auto;
    margin-right: 1em;
    font-size: 2em;
    text-shadow: 2px 2px 1px #F4A261;
}
/*trash na hover*/
i.fa-trash:hover{
    cursor: pointer;
    text-shadow: 3px 3px 1px #F4A261;
}

/*div za kontrole (ispod taskova)*/
#controls{
    display: flex;
}
/*input u koji se upisuje task*/
#taskInput{
    display: none;
    padding: 0;
    margin: 1em 1em 1em auto;
    background-color: #2A9D8F;
    color: #E9C46A;
    border: 2px solid #E9C46A;
    border-radius: 5em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
/*plus gumb za dodavanje novog taska*/
i.fa-plus{
    font-size: 3em;
    color: #E9C46A;
    margin: 0.25em auto 0.25em 0.25em;
    margin: 0.25em auto;
}
/*plus gumb za dodavanje novog taska na hover*/
i.fa-plus:hover{
    cursor: pointer;
}


/*da nebude otline na fokusane elemente*/
*:focus {
    outline: none;
}