/* *Općeniti style-ovi*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: linear-gradient(107.56deg, #20e2d7 0%, #f9fea5 100%);
  height: 100vh;
  overflow: hidden;
}
h1 {
  font-size: 72px;
  font-weight: 700;
}
p {
  font-size: 24px;
  font-weight: 600;
  color: #404040;
}
/* *Main white box*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1080px;
  height: 90vh;
  margin: auto;
  padding: 32px 44px 24px 44px;
  top: 5vh;
  background-color: #fcf7f8;
  position: relative;
  background: #fcf7f8;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

/* *header*/
.header {
  width: 95%;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLeft {
  text-align: center;
}
.headerLeft p {
  font-weight: 500;
  color: #404040;
}

.headerRight {
  display: flex;
  align-items: flex-end;
}
.weatherLeftSide {
  padding-right: 1rem;
  border-right: 2px solid #d8d8d8;
}
#weatherIcon {
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.15));
}
#weatherLocation {
  text-align: center;
  color: #797979;
  font-size: 16px;
}
.weatherRightSide {
  text-align: center;
  padding-left: 1rem;
}
#weatherTemperature {
  color: #404040;
  font-size: 40px;
  margin-bottom: 1rem;
}
#weatherDescription {
  color: #797979;
  font-size: 16px;
}
/* *Finished/Unfinished task bar*/
.finishDiv {
  width: 75%;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.finishDiv p {
  color: #797979;
  cursor: pointer;
}
.finishDiv .active {
  color: black;
  font-weight: 700;
}

/* *Task part; all tasks div*/
.allTasks {
  height: 100%;
  width: 100%;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.allTasks::-webkit-scrollbar {
  display: none;
}

.task {
  margin-bottom: 16px;
  width: 100%;
  height: 100px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 32px;

  display: flex;
  align-items: center;
}

.task img {
  margin: 0 30px;
  cursor: pointer;
  width: 36px;
}
.emptyCircle {
  transition: opacity 300ms linear;
}
.tickedCircle {
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms linear;
}

.textPartofTask {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.taskText {
  overflow-y: hidden;
  font-size: 20px;
  line-height: 1.4;
}
.taskDate {
  display: none;
  width: fit-content;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 32px;
  font-weight: 700;
  color: #fcf7f8;
  background-color: #695cff;
}

/* desni gumbi*/
.right-task-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  position: relative;
}
.right-task-buttons img {
  margin: 0px;
  transition: opacity 200ms ease, transform 200ms ease;
}
.right-hidden-button {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* *footer*/
.footer {
  width: 100%;

  margin-top: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footer button {
  width: 256px;
  height: 80px;
  font-size: 32px;
  font-weight: 700;
  color: #222222;
  background: linear-gradient(97.05deg, #ebc0fd 0%, #d8fdff 100%);
  border: 1px solid #cccccc;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 64px;
  outline: none;
  cursor: pointer;
  transition: border 75ms;
}
.footer button:hover {
  border: 2px solid #222222;
}

#taskInput {
  height: 80px;
  width: 725px;
  padding: 0 50px;

  font-size: 24px;
  font-weight: 700;
  color: #303030;

  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 64px;
  outline: none;
}
.footer .addTaskBtn,
.footer .editTaskBtn {
  width: 150px;
  margin-left: 36px;
}
.hidden {
  display: none;
}
.cancelDateBtn {
  display: none;
}

/* *Kalendar Styling:*/
.calendar {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  display: none;
}

.calendar-header {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.calendar-header img {
  height: 100%;
  cursor: pointer;
}
.calendar-MonthYear {
  font-size: 3rem;
  font-weight: 600;
}

.calendar-days,
.calendar-weekday {
  border: black 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% * (1 / 7));
}
.calendar-days,
.calendar-weekday,
.calendar-header {
  height: calc(100% * (1 / 8));
}
.calendar-days {
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
}
.calendar-days:hover {
  border: 3px solid #38b000;
}
.calendar-weekday {
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #7dcfb6;
}

/* animacije: */
@keyframes deleteTask {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.85);
  }
}

@keyframes RightToLeftFadeOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(-100px);
  }
}
@keyframes RightToLeftFadeIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes LeftToRightFadeOut {
  from {
    opacity: 1;
    transform: translateX(0px);
  }
  to {
    opacity: 0;
    transform: translateX(100px);
  }
}

@keyframes LeftToRightFadeIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
